@font-face {
    font-family: "norsebold";
    src: url("../asset/fonts/norsebold-webfont.woff") format(".woff"),
    url("../asset/fonts/norsebold-webfont.woff2") format(".woff2");
}
@font-face {
    font-family:"norse" ;
    src: url("../asset/fonts/norse-webfont.woff") format(".woff"),
    url("../asset/fonts/norse-webfont.woff2") format(".woff2");
}
:root{
    --black-color:#000;
    --white-color:#fff;
}
*,body,html{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center; 
}
main>div{
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: cornflowerblue;
    width: 70%;
} 
.left-logo_section{
    width: 35%;
    background-color: blue;
    background-image: url("../asset/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
   
}
.right_input_section{
    width: 65%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.logo_background{
    background-color: rgb(0, 0, 0, 0.4);
    height: 7.5rem;
    color: var(--white-color);
    font-family: "norsebold";
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
 
    
}
.logo_element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.logo_container{
    width: calc(30px + 2.5rem);

}
.logo_container>img{
    width: 100%;
}
.photo_acknowledgement ,.photo_acknowledgement a{
    font-size: 0.6rem;
    color: var(--white-color);
    
    
}
.photo_acknowledgement{
    display: flex;
    justify-content: center;
}




/* RIGHT SECTION */
.right_input_section>div:nth-child(1){
    font-size: 1.2rem;
    width:84%;
    margin-top: 3.8rem;
    padding-left: 2rem;
    
}
.right_input_section > div:nth-child(1) > div:nth-child(2){
    margin-top: 1.3rem;
}
.right_input_section>div:nth-child(2)>form>div:nth-child(1){
    background-color: var(--white-color);
    box-shadow: 0px 6px 10px rgb(0, 0, 0,0.3);
    margin-top: 3.9rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 0.6rem;
   
}
form>div:nth-child(2)>button{
    margin-left: 2rem;
    margin-top: 1.5rem;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 0.4rem;
    background-color: #596D48;
    color:var(--white-color);
}
.right_input_section>div:nth-child(3){
    font-size: 0.8rem;
    padding-left: 2rem;
    margin-top: 1rem;
}
.right_input_section>div:nth-child(3)>span{
    color: #596D48 ;
}
form h5{
    font-size: 1rem;
}

.inputs_section{
    width: 80%;
  
}
.inputs_section >div{
    display: flex;
    gap: 2rem;
    margin-top: 0.7rem;
}

.inputs_section >div label{
    display: block;
    text-transform: uppercase;
    font-size: 0.5rem;
}
.inputs_section >div input{
    border: 1px solid #E5E7EB;
    background-color: transparent;
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  
}
.inputs_section >div input[type="password"]{
    outline: 1px solid red;
}
.inputs_section >div input[type="password"]~div{
    color: red;
    font-size: 0.5rem;
    margin-top: 0.1rem;
}
.inputs_section >div input[type="text"]:focus{
    outline: 1px solid blue;
    box-shadow: 1px 2px 5px #000000a9;
}